.experience {
  padding: 80px 0;
  position: relative;
  color: #fff;
}

.experience-h2 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}

.accordion .accordion-item {
  background-color: #443c3c;
  border: none;
  border-radius: 20px;
  margin: 10px 0;
}

.accordion-button {
  background-color: #443c3c;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  border: none;
  padding: 20px;
  box-shadow: none;
  outline: none;
}

.accordion-button:not(.collapsed) {
  color: #fff;
  background-color: #5a5353;
  box-shadow: none;
}

.accordion-button:focus {
  box-shadow: none;
  outline: none;
}

.accordion-body {
  background-color: #5a5353;
  color: #fff;
  font-size: 16px;
  padding: 20px;
  line-height: 1.5;
}
