/************ Footer CSS ************/
.footer {
  padding: 2rem 1rem; /* Usar unidades relativas para el padding */
  background: #151515; /* Color de fondo para una buena visibilidad */
  color: #B8B8B8; /* Color del texto */
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer img {
  width: 25%; /* Tamaño del logo, usa porcentaje para adaptarse */
  max-width: 150px; /* Tamaño máximo del logo para pantallas grandes */
  margin-bottom: 1rem; /* Espacio debajo del logo */
}

.footer .social-icon {
  margin-bottom: 1rem; /* Espacio entre los íconos y el texto */
}

.footer .social-icon a {
  color: #B8B8B8; /* Color de los íconos */
  margin: 0 0.5rem; /* Espacio entre los íconos */
  font-size: 2rem; /* Tamaño de los íconos */
  transition: color 0.3s ease; /* Transición suave del color */
}

.footer .social-icon a:hover {
  color: #fff; /* Color de los íconos al pasar el ratón */
}

.footer p {
  font-weight: 400;
  font-size: 0.875rem; /* Tamaño del texto con unidades relativas */
  letter-spacing: 0.5px;
  margin-top: 1rem; /* Espacio arriba del texto */
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 576px) {
  .footer {
      padding: 1rem; /* Menor padding en pantallas pequeñas */
  }

  .footer img {
      width: 50%; /* Mayor tamaño del logo en pantallas pequeñas */
      max-width: 120px; /* Tamaño máximo del logo */
  }

  .footer .social-icon a {
      font-size: 1.5rem; /* Tamaño más pequeño de los íconos */
  }

  .footer p {
      font-size: 0.75rem; /* Tamaño más pequeño del texto */
  }
}

/* Media Queries para pantallas medianas */
@media (min-width: 768px) {
  .footer img {
      width: 30%; /* Tamaño del logo para pantallas medianas */
  }
}
